.fontTitleSite{
  font-family: Harrington;
  
}

.navContainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.09);
  max-width: 1000px;
}

.logoSite{
  width: 70px;
  border-radius: 45px;
}

.navbtn{
  margin-left: 10px;
}

.container.navContainer{
  max-width: 1500px;
}

form{
  position: relative;
  left: 300px;
}