#comment_note{
  background: red;
}

.star-rating {
  direction: rtl;
  font-size: 2rem;
}


.star-rating input[type="radio"] {
  display: none; 
}

.borderCss {
    border: 2px solid #0f721c; /* Bleu, adapte à ta couleur */
    border-radius: 8px;        /* Coins arrondis (optionnel) */
    padding: 15px;             /* Espace intérieur */
    background: #f5f8fa;       /* Fond léger */
    box-shadow: 0 2px 8px rgba(194, 237, 175, 0.1); /* Ombre légère */
}


