{% extends 'base.html.twig' %}

{% block title %}Article
{% endblock %}

{% block body %}

<div>
	{% for comment in comments %}
		<div class="container">
			<strong>{{ comment.autor.prenom }}</strong>

            <small>a commenté le : {{ comment.date |date('d/m/Y') }} </small>
			
			<p>{{ comment.content }}</p>
		</div>
<div>
	<a class="btn" href="{{ path('app_comment_delete', {'id': comment.id, 'token': csrf_token('delete' ~ comment.id)}) }}"> Supprimer </a>
</div>
	{% else %}
		<p>Aucun commentaire pour cet article, soyez le premier à commenter !</p>
	{% endfor %}
</div>



{% endblock %}