{% extends 'base.html.twig' %}

{% block title %}Modif Article{% endblock %}

{% block body %}
    <h1 class="text-center">Modification des Articles</h1>

    {% if is_granted("ROLE_ADMIN") %}
       
        {{ include('article/_form.html.twig', {'button_label': 'Cliquez ici pour modifier'}) }}
        <div>{{ include('article/_delete_form.html.twig') }}</div>
    
    {% endif %}

<div class="d-flex justify-content-center my-4">
    <a class="btn btn-outline-primary rounded-pill px-4 py-2 shadow-sm fw-bold" href="{{ path('app_article_index') }}">
        <i class="bi bi-arrow-left-circle me-2"></i>
        Retour
    </a>
</div>
{% endblock %}
