{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Créer un Nouvel Article</h1>

    {{ include('article/_form.html.twig') }}
    
<div class="container d-flex justify-content-center">
    <a class="btn btn-primary" href="{{ path('app_article_index') }}">Retour</a>
</div>
{% endblock %}
